.movie-card {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  flex-shrink: 0;
}

.movie-poster {
  position: relative;
  width: fit-content;
}

button.favorite-btn {
  position: absolute;
  right: 5%;
  top: 3%;
}

div.movie-title {
  max-width: 300px;
}